
body
{
	background-color:#e5e5e5;
}

.body
{
	background-color: white;
	padding-bottom: 1%;
	border-radius: 15px;

}

h1{
  margin-bottom: 40px;
}

#addHeadquartersBtn
{
  width: 50px;
  height: 35px;
  margin-top: 30px;
}

#sedes_label
{
  font-weight: bold;
  font-size: 19px;
}

.colSedes
{
  margin-bottom: 25px;
}

.colSedes .glyphicon-trash
{
  color: red;
}


#sede_id
{
  margin:auto;
  width: 150px;
  background-color: #0080FF;
  color: white;
}

#asso_id
{
	margin:auto;
	width: 150px;
  background-color: #0080FF;
  color: white;
}


#sede_update_id_btn
{
    
  width: 150px;
  color: white;
}

#sede_delete_id_btn
{
  
  width: 150px;
  color: white;
}

#callback
{
  margin-top: 5%;
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99999;
}

.navbar-default {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
  margin-right: 50px;
  margin-left: 20px;
  width: 200px;
  height: 78px;
}
.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  padding: 30px 25px;
  font-size: 16px;
  line-height: 18px;
  color: #999;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #52b6ec;
  color: #fff;
}