
body
{
	background-color:#e5e5e5;
}

.body
{
	background-color: white;
	padding-bottom: 1%;
	border-radius: 15px;

}

h1{
  margin-bottom: 40px;
}

#addHeadquartersBtn
{
  width: 50px;
  height: 35px;
  margin-top: 30px;
  text-align: center;
}

#addAmountsBtn
{
  width: 145px;
  height:35px;
  margin:35px 0px 20px 0;
  text-align: center;
  font-weight: bold;
}

#btn_amount_id
{
  width: 145px;
}




#asso_admin_btn
{
  width: 180px;
  height:40px;
  font-size: 17px;
  text-align: center;
  margin-top: 25px;
}

.read_association
{
  font-size: 16px;
}

#sedes_label
{
  font-weight: bold;
  font-size: 19px;
}

.colSedes
{
  margin-bottom: 25px;
}

.colSedes button
{
  padding-bottom:10px;
  font-size:17px;
}

.colSedes .glyphicon-trash
{
  color: red;
}


#sede_id
{
  margin:auto;
  width: 150px;
  background-color: #0080FF;
  color: white;
}

#asso_id
{
	margin:auto;
	width: 150px;
  background-color: #0080FF;
  color: white;
}


#sede_update_id_btn
{
    
  width: 150px;
  color: white;
}

#sede_delete_id_btn
{
  
  width: 150px;
  color: white;
}

#callback
{
  margin-top: 5%;
}

.date select
{
  margin: 10px 5px 10px 10px;
  border-radius: 5px;
  height: 35px;
}


@media only screen and (max-width: 400px)
{
  .date label
  {
    margin-right: 25%;
    float: left;
  }
  .date select
  {
    margin: 10px 5px 20px 5px;
    border-radius: 5px;
    height: 35px;
    clear: right;

  }  
}

/**
  El siguiente media query sirve para eliminar el scroll horizontal
  que salía al ver la página con vista de móvil
**/
@media only screen and (max-width: 765px)
{
  .navbar-inverse
  {
    overflow: hidden;
  }  
}

